<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 footer-contact">
          <div class="logo">
            <img src="/assets/img/logo.png" alt="" />
          </div>

          <ul class="footer-nav">
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright-wrap d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Techie</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Copyright © 2021 FEV3R SDN BHD. All Rights Reserved
        </div>
      </div>
      <div class="privacy-link text-center text-md-right pt-3 pt-md-0">
        <a href="/privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
