<section id="about-hero">
  <div class="container">
    <div class="d-flex about-hero">
      <div class="content">
        <h1>Our Services</h1>
        <p>
          Consult a doctor as many times as you want from less than 80 sen a
          day. Save up to 80% of your employee healthcare cost from as low as
          RM268 per employee a year.
        </p>
      </div>
      <div class="about-hero-img">
        <img src="/assets/img/services-bg.png" alt="" />
      </div>
    </div>
  </div>
</section>
