<section id="include">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-6 include-img">
        <img src="/assets/img/include.png" alt="" />
      </div>
      <div class="col-lg-6 col-6 include-content">
        <h2>What’s Included</h2>
        <ul>
          <li>
            <img src="/assets/img/icons/tick-2.svg" alt="" />Teleconsultations
          </li>
          <li>
            <img src="/assets/img/icons/tick-2.svg" alt="" />Clinic visits
          </li>
          <li><img src="/assets/img/icons/tick-2.svg" alt="" />Lab tests</li>
          <li>
            <img src="/assets/img/icons/tick-2.svg" alt="" />Prescriptions
          </li>
          <li>
            <img src="/assets/img/icons/tick-2.svg" alt="" />Referrals to
            hospitals/specialists
          </li>
          <li>
            <img src="/assets/img/icons/tick-2.svg" alt="" />Access to your
            health data
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
