<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div>
      <h2>Why Choose Us</h2>
    </div>

    <div class="row gy-4">
      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <img src="/assets/img/icons/08.svg" alt="" />
          </div>
          <h4><a href="">Savings</a></h4>
          <p>
            Our subscription membership is a digital- first solution to saving
            money and providing you and your employees with the care they
            deserve.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box iconbox-orange">
          <div class="icon">
            <img src="/assets/img/icons/09.svg" alt="" />
          </div>
          <h4><a href="">Simplicity</a></h4>
          <p>
            Our technology can help reduce administrative tasks and increase
            business efficiency.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box iconbox-pink">
          <div class="icon">
            <img src="/assets/img/icons/03.svg" alt="" />
          </div>
          <h4><a href="">Productivity</a></h4>
          <p>
            Routine check-ups allow you and your employees to focus on
            preventative care and improve their health outcomes.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box iconbox-yellow">
          <div class="icon">
            <img src="/assets/img/icons/010.svg" alt="" />
          </div>
          <h4><a href="">Visibility</a></h4>
          <p>
            Medical records protected by robust data security are available for
            you to take charge of your health decisions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
