<!-- ======= Frequently Asked Questions Section ======= -->
<section id="text">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Privacy Policy</h2>
      <p>Last Updated: July 20, 2021</p>
    </div>
    <div class="privacy-section">
      <p>Section 1</p>
      <h2>Vestibulum erat libero posuere.</h2>
      <p>
        Mauris accumsan ligula turpis, vel pretium tortor ultrices bibendum.
        Integer posuere ligula non eros blandit mollis. In eget lorem non libero
        finibus facilisis vitae et eros. Donec ullamcorper commodo interdum.
        Vestibulum erat libero, posuere molestie ultrices eget, pellentesque non
        nisi. Vivamus vulputate, est vel euismod vulputate, nisi ante suscipit
        nulla, sed porttitor dui ligula a ex. Duis et consectetur ligula, at
        porttitor nisi. Cras eget est diam. Integer fringilla leo vel magna
        varius,.
      </p>
    </div>
    <div class="privacy-section">
      <p>Section 1</p>
      <h2>Vestibulum erat libero posuere.</h2>
      <p>
        Mauris accumsan ligula turpis, vel pretium tortor ultrices bibendum.
        Integer posuere ligula non eros blandit mollis. In eget lorem non libero
        finibus facilisis vitae et eros. Donec ullamcorper commodo interdum.
        Vestibulum erat libero, posuere molestie ultrices eget, pellentesque non
        nisi. Vivamus vulputate, est vel euismod vulputate, nisi ante suscipit
        nulla, sed porttitor dui ligula a ex. Duis et consectetur ligula, at
        porttitor nisi. Cras eget est diam. Integer fringilla leo vel magna
        varius,.
      </p>
    </div>
    <div class="privacy-section">
      <p>Section 1</p>
      <h2>Vestibulum erat libero posuere.</h2>
      <p>
        Mauris accumsan ligula turpis, vel pretium tortor ultrices bibendum.
        Integer posuere ligula non eros blandit mollis. In eget lorem non libero
        finibus facilisis vitae et eros. Donec ullamcorper commodo interdum.
        Vestibulum erat libero, posuere molestie ultrices eget, pellentesque non
        nisi. Vivamus vulputate, est vel euismod vulputate, nisi ante suscipit
        nulla, sed porttitor dui ligula a ex. Duis et consectetur ligula, at
        porttitor nisi. Cras eget est diam. Integer fringilla leo vel magna
        varius,.
      </p>
    </div>
    <div class="privacy-section">
      <p>Section 1</p>
      <h2>Vestibulum erat libero posuere.</h2>
      <p>
        Mauris accumsan ligula turpis, vel pretium tortor ultrices bibendum.
        Integer posuere ligula non eros blandit mollis. In eget lorem non libero
        finibus facilisis vitae et eros. Donec ullamcorper commodo interdum.
        Vestibulum erat libero, posuere molestie ultrices eget, pellentesque non
        nisi. Vivamus vulputate, est vel euismod vulputate, nisi ante suscipit
        nulla, sed porttitor dui ligula a ex. Duis et consectetur ligula, at
        porttitor nisi. Cras eget est diam. Integer fringilla leo vel magna
        varius,.
      </p>
    </div>
    <div class="privacy-section">
      <p>Section 1</p>
      <h2>Vestibulum erat libero posuere.</h2>
      <p>
        Mauris accumsan ligula turpis, vel pretium tortor ultrices bibendum.
        Integer posuere ligula non eros blandit mollis. In eget lorem non libero
        finibus facilisis vitae et eros. Donec ullamcorper commodo interdum.
        Vestibulum erat libero, posuere molestie ultrices eget, pellentesque non
        nisi. Vivamus vulputate, est vel euismod vulputate, nisi ante suscipit
        nulla, sed porttitor dui ligula a ex. Duis et consectetur ligula, at
        porttitor nisi. Cras eget est diam. Integer fringilla leo vel magna
        varius,.
      </p>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->
