<section id="about-box">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 order-lg-2 main-box">
        <div class="about-box about-box-1">
          <h2>Our Vision</h2>
          <p>
            To transform the traditional primary care doctor-patient
            relationship and facilitate a higher degree of health conversations.
          </p>
          <img src="/assets/img/about-1.png" alt="" />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 order-lg-2 main-box">
        <div class="about-box about-box-2">
          <h2>Our Purpose</h2>
          <p>
            To provide the best digital experience with universal access to
            health data for patients and doctors, while enhancing the patient
            journey and quality of care at an affordable cost.
          </p>
          <img src="/assets/img/about-2.png" alt="" />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 order-lg-2 main-box">
        <div class="about-box about-box-3">
          <h2>Our Promise</h2>
          <p>
            To significantly reduce the cost of primary care for corporates and
            consumers based on an affordable subscription model with better
            access to health data.
          </p>
          <img src="/assets/img/about-3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
