<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 main-story">
        <div class="content">
          <h2>Our Story</h2>
          <p>
            The “new normal” made us all adapt to the many challenges that
            rapidly sprung from the COVID-19 pandemic – and the conversation
            around healthcare has never been more important.
          </p>
        </div>
        <img src="/assets/img/stoey-bg.png" alt="" />
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="container">
      <div class="story-layer">
        <div class="row content-p">
          <div class="col-6">
            <p>
              Despite the increased interest in personal health, it remains a
              topic that most would only think of when they or a loved one is
              unwell. While getting more people to care about their general
              health and wellbeing is important, what’s equally crucial is
              empowering them to do so.
            </p>

            <p>
              At FEV3R, we are passionate about providing excellent quality of
              care by helping you make more informed decisions with better
              access to your health data. We’ve noticed a huge gap in the
              current healthcare landscape right now – no one has universal
              access to their own health data.
            </p>
          </div>
          <div class="col-6">
            <p>
              This is where FEV3R comes in. We want to transform the way you
              think and feel about seeing a doctor, and we plan to do this in
              multiple ways. The first thing we are going to do is make it
              affordable and accessible to all. Want to talk to a doctor on your
              mobile phone any time of the day? Not a problem. You don’t even
              have to leave the comfort of your home or rush to the clinic in
              between meetings.
            </p>
            <p>
              We know your health matters to you, your family and your loved
              ones. Whether you are paying for your own healthcare coverage, or
              it’s being provided by your company – we’ve got you covered. Join
              us in our journey to take your health to a higher degree!
              #HigherDegreeOfHealth #FEV3R
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
