<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Our Core Team</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="zoom-in">
          <div class="member-img">
            <img
              src="/assets/img/t3-Adlan-Hercus.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <p>
                Led legal, finance and IP functions across multiple businesses
                in AI, robotics, web and mobile, genomics, pathology and drug
                development. Formulated strategies to drive each business
                through all stages of growth. Oversaw RM400 million in funds
                raised and returned to investors across multiple exits.
              </p>
            </div>
          </div>
          <div class="member-info">
            <h4>Adlan Hercus</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <div class="member-img">
            <img
              src="/assets/img/t2-Thomas-Askew.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <p>
                Extensive experience in building and implementing large
                enterprise applications from scratch, protecting customer
                privacy, and working with global regulatory bodies. Always
                passionate about technology, I am now turning my attention onto
                driving a permanent change in how primary care is delivered.
              </p>
            </div>
          </div>
          <div class="member-info">
            <h4>Thomas Askew</h4>
            <span>Product Manager</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img">
            <img
              src="/assets/img/t1-Sherry-Someh.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <p>
                A successful healthcare business entrepreneur with proven
                skillset in building a business from scratch. Extensive practice
                experience in managing corporate supply chains for small clinics
                to large hospitals. Proven sales management with deep industry
                contacts and ability to scale a sales function.
              </p>
            </div>
          </div>
          <div class="member-info">
            <h4>Sherry Someh</h4>
            <span>CTO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
