<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= navigation section =====-->
    {% include privacy/header.html %}

    <main id="main">
      <!-- ======= navigation section =====-->
      {% include privacy/text.html %}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include footer.html %}
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <div id="preloader"></div>

    <!-- ======= Footer ======= -->
    {% include script.html %}
    <!-- End Footer -->
  </body>
</html>
