<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= navigation section =====-->
    {% include services/header.html %}

    <main id="main">
      <!-- ======= hero ======= -->
      {% include services/hero.html %}
      <!-- End hero -->

      <!-- ======= box-section ======= -->
      {% include services/us.html %}

      <!-- ======= include-section ======= -->
      {% include services/includes.html %}

      <!-- ======= Include-section ======= -->
      {% include services/include-2.html %}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include footer.html %}
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <div id="preloader"></div>

    <!-- ======= Footer ======= -->
    {% include script.html %}
    <!-- End Footer -->
  </body>
</html>
