<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 order-1 order-lg-2 content"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        <h3>Healthcare as a Service</h3>
        <p>
          From teleconsultations and clinic visits to prescriptions and
          referrals, we provide an all-in-one platform for healthcare services.
        </p>
      </div>
      <div
        class="col-lg-2 order-1 order-lg-2"
        data-aos="zoom-in"
        data-aos-delay="150"
      ></div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-right"
      ></div>
    </div>
  </div>
</section>
