<section id="offer" class="offer">
  <div class="container">
    <div class="row ctas">
      <div class="col-lg-6 col-6 offer-content">
        <img src="/assets/img/white-logo.svg" alt="" class="offer-img" />
        <h2>What We Offer</h2>
        <p>All in Annual Plan</p>
        <p><a href="/" class="offer-btn">See More</a></p>
      </div>

      <div class="col-lg-6 col-6 text-center">
        <div class="box">
          <h2>We Bundle</h2>
          <ul>
            <li>
              <img src="/assets/img/icons/tick.svg" alt="" class="bullet" />
              <p>Teleconsultations with our in house doctors</p>
            </li>
            <li>
              <img src="/assets/img/icons/tick.svg" alt="" class="bullet" />
              <p>Physical consultations via our network of clinics</p>
            </li>
            <li>
              <img src="/assets/img/icons/tick.svg" alt="" class="bullet" />
              <p>Prescriptions</p>
            </li>
            <li>
              <img src="/assets/img/icons/tick.svg" alt="" class="bullet" />Lab
              <p>investigations</p>
            </li>
          </ul>
        </div>
        <div class="small-box">
          <h1>RM288</h1>
          <p>Per emloyee per year</p>
        </div>
      </div>
    </div>
  </div>
</section>
