<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div>
      <h2>Primary Care Reimagined</h2>
    </div>

    <div class="row gy-4">
      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <img src="/assets/img/icons/01.svg" alt="" />
          </div>
          <h4><a href="">24/7 Access</a></h4>
          <p>
            Consult a doctor anytime, anywhere through the convenience of your
            smartphone.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box iconbox-orange">
          <div class="icon">
            <img src="/assets/img/icons/02.svg" alt="" />
          </div>
          <h4><a href="">No More Forms</a></h4>
          <p>
            Streamline and simplify document processing with our powerful and
            intuitive data solutions.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box iconbox-pink">
          <div class="icon">
            <img src="/assets/img/icons/03.svg" alt="" />
          </div>
          <h4><a href="">Dedicated Doctors</a></h4>
          <p>
            Our full-time team of doctors are committed to providing the highest
            quality healthcare.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box iconbox-yellow">
          <div class="icon">
            <img src="/assets/img/icons/04.svg" alt="" />
          </div>
          <h4><a href="">In-Depth Insights</a></h4>
          <p>
            A new outlook on medical data for greater ownership and
            personalisation of your healthcare.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box iconbox-red">
          <div class="icon">
            <img src="/assets/img/icons/05.svg" alt="" />
          </div>
          <h4><a href="">Two-Way Communication</a></h4>
          <p>
            Comprehensive and tailored approach to achieving your healthcare
            goals, powered by AI.
          </p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box iconbox-teal">
          <div class="icon">
            <img src="/assets/img/icons/06.svg" alt="" />
          </div>
          <h4><a href="">Subscription Services</a></h4>
          <p>Flexible and feasible way to access high quality healthcare.</p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch icon-box-border"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box iconbox-teal">
          <div class="icon">
            <img src="/assets/img/icons/07.svg" alt="" />
          </div>
          <h4><a href="">Cultural and Social Insight</a></h4>
          <p>
            World-class technology that adapts and supports all your individual
            needs and preferences.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
